@font-face {
  font-family: "iconfont"; /* Project id 3422593 */
  src: url('iconfont.woff2?t=1653297262414') format('woff2'),
       url('iconfont.woff?t=1653297262414') format('woff'),
       url('iconfont.ttf?t=1653297262414') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-Dyanjing:before {
  content: "\e8ad";
}

